*/build
*/out
.gradle
build
.idea/shelf
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/modules
.idea/gradle.xml
.idea/dictionaries
*.iml
*.jar
!gradle/wrapper/gradle-wrapper.jar
hextant-expr/src/main/kotlin/counter/
