.hextant-text.lisp-string-literal {
    -fx-text-fill: green !important;
}

.hextant-text..lisp-int-literal {
    -fx-text-fill: red !important;
}

.hextant-text.lisp-double-literal {
    -fx-text-fill: yellow !important;
}

.hextant-text.lisp-char-literal {
    -fx-text-fill: blue !important;
}

.hextant-text.lisp-apply {
    -fx-border-color: green;
    -fx-border-width: 3;
}