.hextant-text.int-literal {
    -fx-text-fill: #285cde;
}

.hextant-text.boolean-literal {
    -fx-text-fill: #cd5a13;
}

.compound-expr {
    -fx-border-color: #207153;
    -fx-border-width: 3;
}

.hextant-text.symbol {
    -fx-text-fill: #a37dd2;
}

.quote {
    -fx-border-color: #0000ff;
    -fx-border-width: 2;
}

.unquote {
    -fx-border-color: purple;
    -fx-border-width: 2;
}

.quasi-quote {
    -fx-border-color: orange;
    -fx-border-width: 2;
}