.hextant-text.lisp-string-literal {
    -fx-text-fill: green;
}

.hextant-text.lisp-int-literal {
    -fx-text-fill: red;
}

.hextant-text.lisp-double-literal {
    -fx-text-fill: yellow;
}

.hextant-text.lisp-char-literal {
    -fx-text-fill: blue;
}

.hextant-text.lisp-apply {
    -fx-border-color: green;
    -fx-border-width: 3;
}